<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!-- loop over the collection of products -->

                <div class="row">
                    <div *ngFor="let product of products" class="card col-3 product-box align-items-center justify-content-center text-center">
                        <a routerLink="/products/{{ product.id }}" routerLinkActive="active-link">
                            <img class="card-img-top img-responsive" src="{{ product.imageUrl }}">
                        </a>
                        <div class="card-body">
                            <a routerLink="/products/{{ product.id }}" routerLinkActive="active-link">
                                <h5 class="card-title">{{ product.name }}</h5>
                            </a>
                            <p class="price">{{ product.unitPrice | currency:"TWD" }}</p>
                            <a *ngIf="product.unitsInStock != 0" href="#" class="btn primary-btn">Add to cart</a>
                            <a *ngIf="product.unitsInStock == 0" href="#" class="btn primary-btn" [ngClass]="{'disabled':product.unitsInStock == 0}">sold out</a>
                        </div>
                    </div>
                </div>

                <!-- if products empty then display a message -->
                <div *ngIf="products.length == 0" class="alert alert-warning col-md-12 text-center" role="alert">
                    No products found.
                </div>
                
            </div>
        </div>
    </div>
</div>